/* Write your CSS here */
.tab-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto';
  color: #7b8794;
  outline: none;
}
.line {
  border: 1.5px solid #dfe2e5;
  margin-top: -1px;
  width: 80px;
}
